*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000000;
  font-family: 'Oswald', sans-serif;
  min-height: 200vh;
}

body {
  background: #000;
  background-size:cover;
}

#particles-js{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}


html{
  scroll-behavior: smooth;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;   
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  transition: 0.6s;   
}

header.sticky{
  padding: 5px 100px;
  opacity: .9;
  background: #000000;
  z-index: 99;
}

header .logo{
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;

}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative;
  list-style: none;
  z-index: 1;
}

header ul li a{
  position: relative;
  /*margin: 0 15px;*/
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 15px 20px 10px;
  transition: 0.5s;
  z-index: 1;
}

header ul li a:hover{ 
  color: #42b883;
  font-size: 25px;
}

header a{
  cursor: pointer;
}

.container{
  width: 90%;
  margin: auto;
  position: relative;  /**/
  z-index: 99;          /**/
}

section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.conocimientos{
  padding-top: 150px;
}

.experiencias{
  padding-top: 30px;
}


section h2{
  font-size: 70px;
}

#yo {
  border-right: 3px solid #42b883;
  margin: 0;
}

#misExperiencias {
  border-right: 3px solid #42b883;
  margin: 0;
}
#miContacto {
  border-right: 3px solid #42b883;
  margin: 0;
}
#conocer {
  border-right: 3px solid #42b883;
  margin: 0;
}


section p{
  font-size: 28px;
  max-width: 800px;
  margin: 0 auto;
}

header.sticky .logo,
header.sticky ul li a{
  color: #fff;
}

header.sticky ul li a:hover{
  color: #42b883;
}

.figuras{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.figuras figure{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}


.figuras figure img{
  width: 80%;
  height: 80%;
  transition: all 500ms ease-out;
  margin-right: 20px;
  display:inline-table;
  margin: auto;
}


.figuras figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);   /**/
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}


.figuras figure:hover > .capa{
  opacity: 1;
  visibility: visible;
}


.figuras figure:hover > img{
  transform: scale(1.1);
}


.figuras figure:hover > .capa h3{
  margin-top: 70px;
  margin-bottom: 15px;

}


.figuras figure .capa h3{
  color: #fff;
  font-weight: 400;
  margin-top: 30px;
  transition: all 500ms ease-out;
  margin-bottom: 120px;
}


.figuras figure .capa p{
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

hr{
  height: 2px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, black, #42b883);
  opacity: .7;
}

footer{
  background: rgb(0, 0, 0);
  opacity: .9;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
  border-top: 1px solid rgba(66, 184, 131, .7);
}

.contenido-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contenido-footer h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.contenido-footer p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}

.sociales{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.sociales li{
  margin: 0 10px;
}

.sociales a{
  text-decoration: none;
  color: #fff;
}

.sociales a i{
  font-size: 1.8rem;
  transition: color .4s ease;
  transition: 0.3s;

}

.sociales .insta:hover i {
  color:   #c32aa3;
  font-size: 2.1rem
}

.sociales .linkedin:hover i {
  color:  #0a66c2;
  font-size: 2.1rem
}

.abajo-footer{
  background: rgb(0, 0, 0);
  opacity: .9;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.abajo-footer p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.abajo-footer span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

@media  (max-width: 890px) {
  header{
    flex-direction: column;
    font-size: 10px;
  }

  header ul{
    padding: 10px 0px;
  }

  header ul li a{
    font-size: 15px;
    padding: 20px 10px 10px;
  }

}



